@function nav($arg){
	@return $arg/ 46.875 *1rem;
}
.box{
  position: absolute;
  top:50%;
  left:50%;
  margin-top:- nav(300);
  margin-left: - nav(325);
  width:nav(650);
  height: nav(600);
  background-color: rgba(0,0,0,.5);
  border-radius: 3px;
  text-shadow: 1px 1px 1px #eee;
  h2{
    line-height: nav(100);
    font-size: nav(50);
    text-align: center;
    color:#fff;
    transition: all .5s;
  }
  h2::after{
    content: '';
    display: block;
    width:100%;
    height: 1px;
    background: #000;
    margin: nav(10) 0;
  }
  h2:hover{
    transform: translate(nav(15),0);
  }
  .selt{
    padding: nav(30);
    text-shadow: 0 0 1px #eee;
    ul {
      li {
        height: nav(80);
        line-height: nav(80);
        background: rgba(0,0,0,.5);
        margin-top:nav(20);
        border-radius: 3px;
        box-sizing: border-box;
        a{
          display: block;
          width:100%;
          height: 100%;
          color:#fff;
          font-size: nav(40);
          transition: all .5s;
        }
        a:hover{
          color:#f69;
          transform: translate(nav(15),0);
        }
      }
    }
  }
  .footer{
    padding: nav(40);
    text-align: right;
    button{
      display:none;
      width: nav(160);
      height: nav(40);
      color:#000;
      border-radius: 5%;
      margin-right: nav(15);
      text-shadow: 0 0 2px #eee;
      border: 0;
      cursor: pointer;
      font-size: nav(30);
    }
    .green{
      background-color: #00FF33;
    }
    .danger{
      background-color: #6666CC;
    }
  }
  .footer:hover button{
    display: inline-block;
  }
}
