*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    height: 100px;
    background: rgb(128, 124, 124);
    text-align: center;
    line-height: 100px;
}